:root {
    // color
    --grey-300: #eeeeee;
    --grey-600: #777777;
    --dark-grey: #333333;
    --error-color: #d6493c;
    --bg-color-main: #fff;
    --bg-color-sec: #fcfcfc;

    --text-color: #1e1e1e;


    //font-size
    --font: 'Montserrat', Arial, Helvetica, sans-serif;

    

}
  



h1,
h2,
h3,
h4,
h5,
h6,
pre,
p,
ul {
  margin: 0;
  color: var(--text-color);
}

ul {
  list-style: none;
}

p {
  word-wrap: break-word;
}

li {
  text-decoration: none;
  list-style-type: none;
}

a {
  text-decoration: none;
  color: inherit;
}

@media only screen and (max-width: 576px) {
    html {
      font-size: 50%;
    }
  }