
.side-bar {
    position: fixed;
    top: 0;
    left: 0;
    width: 250px;
    height: 100vh;
    transition: all .5s;

    background-color: #e6e6e6;

    

    .logo {
        display: flex;
        flex-direction: row;
        justify-content: start;
        padding: 20px 0px 20px 20px;

        border-bottom: 1px solid rgba(31, 30, 30, 0.2);
        

        .logo__icon {
            margin-top: 5px;
            font-size: 20px;
            color: black;

            &:hover {
                cursor: pointer;
                opacity: .7;
            }
        }

        .logo__img {
            height: 30px;
            width: 30px;
            margin-left: 15px;
            

            animation-name: spin;
            animation-duration: 1400ms;
            animation-iteration-count: infinite;
            animation-timing-function: linear; 

            @keyframes spin {
                from {
                    transform:rotate(0deg);
                }
                to {
                    transform:rotate(360deg);
                }
            }
        }
        .logo__title {
            margin-left: 15px;
            align-self: center;
            text-align: center;
            color: #e47297;
            font-size: 20px;
            font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
        }
    }
    .info {
        display: flex;
        flex-direction: row;
        padding: 20px 0px 20px 20px;
        border-bottom: 1px solid #3333;

        .info__img {
            border: 3px solid white;
            border-radius: 8px;
            height: 60px;
            width: 60px;
        }
        .info-content {
            align-self: center;
            margin-left: 10px;
            .name {
                display: block;
                padding: 3px 0;
                color: rgb(100, 98, 98);
            }
        }
    }


    .list-item {
        padding: 20px 0 0 20px;
        
        .item {
            position: relative;
            display: flex;
            flex-direction: row;
            align-items: baseline;
            padding: 15px 0px 15px 10px;
            
            &:hover {
                cursor: pointer;
                color: #e47297;
                .menu__toggle {

                    .toggle__icon {
                        transform: rotate(-20deg);
                        transition: all 0.5s;
                    }
                }
            }
            .menu__toggle {
                font-size: 16px;
                 

                .toggle__icon {
                    transform: rotate(20deg);
                    transition: all 0.5s;
                }
            }
            .menu__title {
                font-size: 18px;
                font-family: Verdana, Geneva, Tahoma, sans-serif;
                margin-left: 15px;
            }
            .toggle__sub {
                position: absolute;
                top: 20px;
                right: 20px;
                font-size: 12px;
            }

            
            

            .sub-list {
                display: none;
                margin: 20px 0 0 20px;

                .sub__child {
                    padding: 10px 0px 15px 0;
                }
            }
        }
        

        
    }
}



@media only screen and (max-width: 749px){
    
    .side-bar {
        display: none;
        transition: all .5;
    }
}
