



.auth {
    display: flex;
    align-items: center;

    .container-form{
        height: 100vh;
        justify-content: center;
        text-align: center;
        align-items: center;

        
    
        .auth__form{
            padding: 30px ;   
            border: .1px solid #3333;  
            border-radius: 10px;

            background-color: rgb(214, 214, 214);
       
            .error-message {
                color: red;
                font-size: 18px;
                padding: 5px 0;
            }
            .header {
                margin-bottom: 30px;

                .header__img {
                    height: 64px;
                    width: 64px;
                    animation-name: spin;
                    animation-duration: 1400ms;
                    animation-iteration-count: infinite;
                    animation-timing-function: linear; 

                    @keyframes spin {
                        from {
                            transform:rotate(0deg);
                        }
                        to {
                            transform:rotate(360deg);
                        }
                    }
                }
            }
        
            .body {
                display: flex;
                flex-direction: column;

                input {
                    margin-bottom: 15px;
                    border: .1px solid #3333;
                    outline: none;
                }

                input[type=email] {
                    width: 100%;
                    background-color: #3333;
                    color: black;
                    padding: 7px 10px;
                    // border: none;
                    border-radius: 4px;
                }
                input[type=password] {
                    width: 100%;
                    background-color: #3333;
                    color: black;
                    padding: 7px 10px;
                    // border: none;
                    border-radius: 4px;
                }
                button[type=submit] {
                    background-color: rgb(14, 35, 129);
                    color: rgb(61, 172, 236);
                    width: 100%;
                    color: white;
                    padding: 12px 10px;
                    border: none;
                    border-radius: 4px;
                    cursor: pointer;

                    &:hover {
                        opacity: 0.8;
                    }
                }

                .forgot-pass {
                    margin-top: 10px;
                    
                    font-size: 14px;
                    text-align: start;


                    &:hover {
                        text-decoration: navajowhite;
                        color: blue;
                        cursor: pointer;
                    }
                }

                .remember {
                    text-align: start;
                    label {
                        margin-left: 10px;
                    }
                }
            }
        }
    }
}


